/****************************************
*               Navbar                  *
*****************************************/
#top-bar{ 
	background-color: rgba(0, 124, 194, 1); 
    border-bottom: 1px solid #005D91;
} 

#top-bar ul li{ 
	color: rgba(255, 255, 255, 1); 
	border-left: 1px solid #005D91;
}
.social-icons li:last-child {
    border-right: 1px solid #005D91;
}
.navigation-fixed-wrapper {
    background-color: rgba(0, 124, 194, 1);
    border-bottom: 1px solid #005D91;
    box-shadow: 0 0 65px rgb(0 0 0 / 9%);
    z-index: 9999;
    position: relative;
}
.navigation { 
    background-color: rgba(0, 124, 194, 1);
}
.nav-menu > li > a{ 
    color: #fff;
}
.nav-menu > li > a:hover{ 
    color: #c7c7c7;
}

.submenu-indicator-chevron { 
    border-color: transparent #ffffff #ffffff transparent; 
}

.nav-dropdown > li > a { 
    color: #fff;
    background-color: rgba(0, 124, 194, 1); 
}
.nav-dropdown > li > a:hover { 
    color: #c7c7c7; 
}

.navigation-portrait .nav-menus-wrapper { 
    background-color: rgba(0, 124, 194, 1);
}

.nav-toggle::before { 
    background-color: #ffffff; 
    box-shadow: 0 0.5em 0 0 #ffffff, 0 1em 0 0 #ffffff; 
}

.nav-menus-wrapper-close-button { 
    color: #ffffff; 
}

.nav-menu>li:hover>a, .nav-menu>li.active>a, .nav-menu>li.focus>a {
    color: #000271;
}

.nav-dropdown>li:hover>a, .nav-dropdown>li.focus>a {
    color: #000271;
}

.nav-menu>.focus>a .submenu-indicator-chevron {
    border-color: transparent #ffffff #ffffff transparent;
}
/****************************************
*             About Section             *
*****************************************/
.about-section { 
	background-image: url('../img/bg/about_home_bg.png'); 
	background-color: rgba(0, 124, 194, 0.5); 
  	background-repeat: no-repeat;
  	background-size: auto;
	background-blend-mode: overlay;
	padding: 80px 0px 150px 0px;
}

.about-section h3 {
	color: #FFFFFF !important;
}

.about-section h3 .primary-color {
	color: #000271 !important;
}
.about-section .primary-list ul li, i {
	color: #FFFFFF !important; 
}

.about-section h3 {
	color: #FFFFFF !important;
}

.about-section .text-content p{
	color: #FFFFFF !important;  
}


/****************************************
*             Sevice Box                *
*****************************************/
.serviceBox{ 
    text-align: center;
    /*padding: 0 23px 20px;*/
    padding: 40px 23px 35px;
    position: relative;
    z-index: 1;
}
.serviceBox:before{
    content: "";
    background: #006AA5;
    width: 100%;
    height: calc(100% - 90px); 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}
.serviceBox .service-icon{
    color: #00ACC2;
    background: #0DC5FF;/*linear-gradient(135deg,#e7e7e7,#fff,#fff);*/
    border: 10px solid #006AA5; /*rgba(0, 106, 165, 0.5)*/
    font-size: 40px;
    line-height: 85px;
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    border-radius: 50%;
    /*box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);*/
}
.serviceBox .title{
    color: #444;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.serviceBox .description{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    padd
}
.serviceBox.yellow:before{ border-color: #FAA725; }
.serviceBox.yellow .service-icon{ color: #FAA725; }
.serviceBox.red:before{ border-color: #E6491E; }
.serviceBox.red .service-icon{ color: #E6491E; }
.serviceBox.green:before{ border-color: #18BB9C; }
.serviceBox.green .service-icon{ color: #18BB9C; }
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}


/**************************************
**             COUNTER               **
***************************************/  

.countup-border-bottom-color{  
	border-bottom: 3px solid #007CC2;
    padding-bottom: 40px;
}
.countup-box i { 
    color: #0DC5FF !important; 
}


/**************************************
**           BlockQuote              **
***************************************/ 
              
blockquote{
  font-size: 1.4em;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgba(0, 124, 194, 1);
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgba(0, 124, 194, 1);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


/**************************************
**           BlockQuote              **
***************************************/ 

.close-modal { 
    color: rgba(0, 124, 194, 1); 
}

/**************************************
**           Contact US              **
***************************************/ 
.contact-box-info-4 i {
    color: #0570fb !important;
}
